PORT=3000
LINE_CHANNEL_SECRET=your_line_channel_secret
LINE_CHANNEL_ACCESS_TOKEN=your_line_channel_access_token
ANTHROPIC_API_KEY=your_anthropic_api_key
TARGET_GROUP_ID=your_target_group_id
BOT_ADMIN_TOKEN=your_internal_broadcast_token
